body
{
	background-color: rgb(50,58,69);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Lucida Console";
	overflow-x:hidden;
}

#menu
{
	margin: 10px;
	text-align: center;
	margin: 0;
	padding: 0
}

#options
{
	display: block;
	margin: 10px;
	position: relative;
	margin: 50px 50px 50px 50px;
	text-align: center;
	list-style-type:none;
	margin: 0;
	padding: 0;
	z-index: 1;	
}

#options li
{
	text-align: center;
	display: inline-block;
	float: center;
	padding-right: 50px;
	padding-left: 50px;
}

#options li a
{
	text-align: center;
	display: block;
	color: white;
	font-size: 27px;
	padding:10px;
	text-decoration:none;
}

.profile
{
	font-size:21px;
	font-family: "Lucida Console";
	display: flex;
	top:10px;
	position:relative;
	color:white;
  	width: 100%;
  	left:-60px;
  	justify-content: center;
  	text-align:right;
}

.formFields
{
	border-radius:10px;
	width:280px;
	text-align:center;
	border:none;
	outline:none;
}

.formLabels
{ 
	position:relative;
	left:2.5%;
	font-family: "Lucida Console"
	font-size: 15px;
	display: block; 
	width: 200px; 
	margin-right: 50px;
	color:white;
}

button
{
	position: relative;
	background-color: #e7e7e7;
    border: none;
    color: #262C35;
    text-align: center;
    font-size: 15px;
    border-radius: 12px;
 	cursor: pointer;
 	width: 120px;
 	height: 30px;
	left:1%;
 	outline:none;
}

button:hover span
{
  padding-right: 15px;
  color:red;
}

button:hover span:after
{
  opacity: 1;
  right: 0;
}

button span
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

button span:after
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -25px;
  transition: 0.5s;
}

#selectCollege {
    background-color: #e7e7e7;
    color: #262C35;
    outline:none;
    font-size: 16px;
    border: none;
    border-radius:20px;
    width:100px;
    cursor: pointer;
}

.listColleges {
    position: relative;
    left:50%;
}

.colleges {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    right:200px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius:10px;
    width: 400px;
    text-align:center;
    cursor:pointer;
}

.colleges a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

.colleges a:hover 
{
	background-color: #E3E3E3;
	color: red;
	border-radius:10px;
}

.listColleges
{
	width:100px;
}

.listColleges:hover .colleges {
    display: block;
    border-radius:20px;
}

#selectCollege:hover span 
{
  padding-right: 15px;
  color:red;
}

#selectCollege:hover span:after 
{
  opacity: 1;
  right: 0;
}

#selectCollege span 
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

#selectCollege span:after
{
	content: ' \261F';
	position: absolute;
 	opacity: 0;
  	right: -25px;
  	transition: 0.5s;
}